<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="port" value="2000"/>
    <add key="coreUpdateMs" value="50"/>
    <add key="spectatorUpdateMs" value="100"/>
    <add key="botUpdateMs" value="250"/>
    <add key="maxBotsCount" value="20"/>
  </appSettings>
</configuration>